{%  extends 'base.html'  %}
{%  block content  %}
{% block title %} <title> {{ title }} </title>{% endblock %}
<html lang="ru">
<body>
  <main>
    <div class='container py-5'>
      <h2>Записи сообщества: {{ group }}</h2>
        <p>Группа тайных поклонников графа</p>
        <article>
          <p>
            <h4>{{ group }}</h4>
          </p>
          {% for post in page %}
            <ul>
              <li>
                Автор: <a href="{% url 'posts:profile' post.author.username %}">
                  <b>{{ post.author.get_full_name }}</b></a>
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:'d M Y' }}
              </li>
            </ul>
              <p>{{ post.text }}</p>
              {% if post.group %}
                <li>
                  <a href="{% url 'posts:group_list' post.group.slug %}">
                  все записи группы {{ group.title }}</a>
                </li>
              {% endif %}
                <li>
                  <a href="{% url 'posts:post_detail' post.id %}">
                      подробная информация </a>
                </li>
              {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
          {% include 'posts/includes/paginator.html' %}
        </article>
    </div>
  </main>
</body>
{% endblock %}
</html>
